<%= link_to 'students_path', students_path %>
<%= form_for @student do |f| %>

<p>
  <%= f.label :first_name %><br>
  <%= f.text_field :first_name %>
</p>

<p>
  <%= f.label :last_name %><br>
  <%= f.text_area :last_name %>
</p>

<p>
  <%= f.submit %>
</p>
<% end %>
