<h1>Student Form</h1>
<%= form_for(@student) do |t| %>
    <%= t.label :first_name %>
    <%= t.text_field :first_name %>
    <%= t.label :last_name %>
    <%= t.text_field :last_name %>
    <%= t.submit %>
<% end %>