<h1>Edit Student form:</h1>

<%= form_for(@student) do |f| %>
  
  <label>First Name:</label><br>
  <%= f.text_field :first_name %>

  <label>Last Name:</label><br>
  <%= f.text_field :last_name %>

  <%= f.submit %> <br><br>
<% end %> 

<%= link_to @student.to_s, student_path%>