<h1>Students#edit</h1>
<p>Find me in app/views/students/edit.html.erb</p>
<%= form_for(@student) do |f|%>
  <%=f.label :first_name%>
  <%=f.text_field :first_name%>
  <%=f.label :last_name%>
  <%=f.text_field :last_name%>
  <%=f.submit%>
<%end%>
