<h1>Update Student</h1>

<%= form_for(@student) do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name, id: 'student_first_name' %>
  <%= f.label :last_name %>
  <%= f.text_field :last_name, id: 'student_last_name' %>
  <%= f.submit 'Update Student' %>
<% end %>
