<h1>Edit Student</h1>

<%= form_for @student do |field|%>
  <%= field.label :first_name%>
  <%= field.text_field :first_name%><br>

  <%= field.label :last_name%>
  <%= field.text_field :last_name%><br>
  
  <%= field.submit %>
<% end %>