<h3>Student Form</h3>

<%= form_for(@student) do |f| %>

<%= f.label 'First Name' %><br>
  <%= f.text_field :first_name %><br>

<%= f.label 'Last Name' %><br>
  <%= f.number_field :last_name %><br>

  <%= f.submit %>
<% end %>
