<h3>Edit Student</h3>

<%= form_for(@student) do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
  <%= f.submit %>
<% end %>

<!-- <h3>Edit Student</h3>

<%= form_tag student_path(@student), method: "post" do %>
  <label>First Name:</label><br>
  <%= text_field_tag :student_first_name, @student.first_name %><br>

  <label>Last Name:</label><br>
  <%= text_field_tag :student_last_name, @student.last_name %><br>

  <%= submit_tag "Update Student" %>
<% end %> -->
