<h1>Student Edit Form</h1>

<%= form_for @student do |s| %>
  <%= s.label :student_first_name%><br>
  <%= s.text_field :first_name %><br>
  <%= s.label :student_last_name%><br>
  <%= s.text_field :last_name %><br>
  <%= s.submit "Update Student" %>
<% end %>
