<h1>Edit Student</h1>

<%= form_for(@student) do |i| %>
  <%= i.label :first_name %>
  <%= i.text_field :first_name %>
  <%= i.label :last_name %>
  <%= i.text_field :last_name %>
  <%= i.submit %>
<% end %>