<h3>Student Form</h3>

<%= form_tag("/students") do %>
  <%= label_tag('student[first_name]', "First Name") %>
  <%= text_field_tag('student[first_name]') %>

  <%= label_tag('student[last_name]', "Last Name") %>
  <%= text_field_tag('student[last_name]') %>

  <%= submit_tag "Create Student" %>
<% end %>
