<html>
<head>
  <title></title>
</head>
<body>
  Student Form
  <%= form_for(@student) do |x| %>
    <%= x.label :first_name %>
    <%= x.text_field :first_name %>
    <%= x.label :last_name %>
    <%= x.text_field :last_name %>
    <%= x.submit %>
  <% end %>

</body>
</html>
