<h1>Student Form</h1>

<%= form_for(@student) do |f| %>
  <%= f.label :student_first_name %>
  <%= f.text_field :first_name %>
  <%= f.label :student_last_name %>
  <%= f.text_field :last_name %>
  <%= f.submit %>
<% end %>
