<h1>Add a Student</h1>

<h3> Student Form </h3>
<%= form_for :student, url: students_path do |s| %>
  <p>
  <%= s.label :first_name %>
  <%= s.text_field :first_name %>
  </p>

  <p>
  <%= s.label :last_name %>
  <%= s.text_field :last_name %>
  </p>

  <%= s.submit "Create Student"%>
<% end %>
