<h3>Student Form</h3>
<%= form_for (@student) do |t| %>
  <%= t.label :first_name, "First Name: " %>
  <%= t.text_field :first_name %>
  <%= t.label :last_name, "Last Name: " %>
  <%= t.text_field :last_name %>
  <%= t.submit %>
<% end %>