<h2>Student Form</h2>

<%= form_for(@student) do |student| %>
  <%= student.label :first_name %>
  <%= student.text_field :first_name %>
  <%= student.label :last_name %>
  <%= student.text_field :last_name %>
  <%= student.submit %>
<% end %>
