<h3>New Student Form</h3>
<%= form_for @student do |s| %>
  <%= s.label :first_name %>:
  <%= s.text_field :first_name %> <br>

  <%= s.label :last_name %>:
  <%= s.text_field :last_name %> <br>

  <%= s.submit %>

<% end %>
