<h1>Student Form</h1>

<%= form_for(@student) do |s| %>
  <%= s.label :first_name %><br></br>
  <%= s.text_field :first_name %><br></br>
  <%= s.label :last_name %><br></br>
  <%= s.text_field :last_name %><br></br>
  <%= s.submit %><br></br>
<% end %>