<h1>student Class Form</h3>

<%= form_for(@student) do |f| %>

  <%= f.label "Title" %>
  <%= f.text_field :title %><br>

  <%= f.label "Room Number" %>
  <%= f.text_field :room_number %><br>

  <%= f.submit "Create student class" %>

<% end %>
