<h3>Student Form</h3>

<%= form_for(@student) do |student| %>
<%= student.label :first_name %>
<%= student.text_field :first_name %>
<%= student.label :first_name %>
<%= student.text_field :last_name %>
<%= student.submit %>
<% end %>
