<%= form_tag students_path do %>
    <label>Student First Name:</label><br>
    <%= text_field_tag :first_name %><br>

    <label>Student Last Name:</label><br>
    <%= text_field_tag :last_name %><br>

    <label>School Class Title:</label><br>
    <%= text_field_tag :title %><br>

    <label>School Class Room Number:</label><br>
    <%= text_field_tag :room_number %><br>

  <%= submit_tag "Submit Student" %>
<% end %>