<%= form_for(@school_class) do |f| %>
  <% if @school_class.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@school_class.errors.count, "error") %> prohibited this school_class from being saved:</h2>

      <ul>
      <% @school_class.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :room_number %><br>
    <%= f.number_field :room_number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
