<h3>Edit Class Information</h3>
<%= form_for(@school_class) do |sc| %>
  <%= sc.label :title %>:
  <%= sc.text_field :title %><br>

  <%= sc.label :room_number %>:
  <%= sc.text_field :room_number %><br>

  <%= sc.submit "Update School class" %>
<% end %>
