<h1>Update a School Class</h1>

<%= form_for @school_class do |sc| %>
  <p>
  <%= sc.label :title %>
  <%= sc.text_field :title %>
  </p>

  <p>
  <%= sc.label :room_number %>
  <%= sc.number_field :room_number %>
  </p>

  <%= sc.submit %>
<% end %>
