<h1>Update School Class</h1>
<%= form_for(@school_class) do |f| %>
  <p><%= f.label :title %> <%= f.text_field :title %></p>  
  <p><%= f.label :room_number %> <%= f.text_field :room_number %></p>
  <p><%= f.submit %></p>
<% end %>