<h3>School Class Edit Form</h3>

<%= form_for @school_class do |f| %>
<%= f.label 'Title' %><br>
<%= f.text_field :title %><br>

<%= f.label 'Room Number' %><br>
<%= f.number_field :room_number %><br>

<%= f.submit "Update School class" %>
<% end%>