<h1>Update School Class</h1>

<%= form_for(@school_class) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, id: 'school_class_title' %>
  <%= f.label :room_number %>
  <%= f.text_field :room_number, id: 'school_class_room_number' %>
  <%= f.submit 'Update School class' %>
<% end %>
