<!-- <%= form_tag school_class_path(@school_class), method: "put" do %>
  <label>Class:</label><br>
  <%= text_field_tag :school_class_title, @school_class.title %><br>

  <label>Post Description</label><br>
  <%= text_area_tag :school_class_room_number, @school_class.room_number %><br>

  <%= submit_tag "Update School class" %>
<% end %> -->


<%= form_for(@school_class) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :room_number %>
  <%= f.text_field :room_number %>
  <%= f.submit %>
<% end %>
