<h1>School Class Edit Form</h1>

<%= form_for(@school_class) do |f| %>
    <%= f.label :school_class_title %>:
    <%= f.text_field :title %><br>

    <%= f.label :school_class_room_number %>:
    <%= f.text_field :room_number %><br>

    <%= f.submit %>
<% end %>
