<h3>School Class Form</h3>
<%= form_for(@schoolclass) do |f| %>
  <fieldset>
    <%= label_tag :title %>
    <%= f.text_field :title %>
  </fieldset>
  <fieldset>
    <%= label_tag :room_number %>
    <%= f.text_field :room_number %>
  </fieldset>
  <%= f.submit  %>
<% end %>
