<h1>School Class Form</h1>

<%= form_for @school_class do |c| %>
<%= c.label :title %>
<%= c.text_field :title%>

<%= c.label :room_number %>
<%= c.number_field :room_number %>

<%= c.submit 'Update School class' %>
<% end %>
