<h1>School Class Form</h1>
  <%= form_for(@class) do |c| %>
  <%= c.label :title %>
  <%= c.text_field :title %>

  <%= c.label :room_number %>
  <%= c.text_field :room_number %>
<%= c.submit %>
<% end %>
