<h1>School Class Form</h1>
<%= form_for(@school_class) do |s| %>
  <%= s.label :title %>
  <%= s.text_field :title %>
  <%= s.label :sroom_number %>
  <%= s.text_field :room_number %>
  <%= s.submit "Update School class" %>
<% end %>
