<h1>Edit <%= @school_class.title %></h1>

<div>
  <%= form_for(@school_class) do |f| %>

    <label>Title:</label>
    <div><%= f.text_field :title %></div>

    <label>Room Number:</label>
    <div><%= f.number_field :room_number %></div>

    <div><%= f.submit "Update School class" %></div>
  <% end %>
</div>