<%= form_tag school_classes_path do %>
  <h1>School Class Form</h1>
  <label>Fist Name:</label><br>
  <input type="text" id="school_class_title" name="school_class[title]" value=<%= @school_class.title %>><br>
  <!--<%= text_field_tag :'first_name' %><br>-->

  <label>Last Name:</label><br>
  <!--<%= text_field_tag :'last_name' %><br>-->
  <input type="text" id="school_class_room_number" name="school_class[room_number]" value=<%= @school_class.room_number %>><br>

  <%= submit_tag "Update School class" %>
<% end %>
