<h1>Edit A School Class</h1>

<%= form_for(@school_class) do |c| %>
  <%= c.label :title %>: 
  <%= c.text_field :title %><br />
  <%= c.label :room_number %>: 
  <%= c.text_field :room_number %><br />

  <%= c.submit "Update School class" %>
<% end %>
