<h3>School Class Form</h3>
<%= form_for (@school_class) do |t| %>
  <%= t.label :title, "Title: " %>
  <%= t.text_field :title %>
  <%= t.label :room_number, "Room Number: " %>
  <%= t.text_field :room_number %>
  <%= t.submit %>
<% end %>