<h1>Edit SchoolClass </h1>

<%= form_for @school_class do |field|%>
  <%= field.label :title %>
  <%= field.text_field :title %><br>

  <%= field.label :room_number %>
  <%= field.text_field :room_number %><br>

  <%= field.submit%>
<% end %>