<h1>SchoolClasses#edit</h1>
<p>Find me in app/views/school_classes/edit.html.erb</p>

<%= form_for @school_class do |f| %>
  <p>
   <%= f.label :title %><br>
   <%= f.text_field :title %>
  </p>
  <p>
   <%= f.label :room_number %><br>
   <%= f.text_field :room_number %>
  </p>
  <p>
   <%= f.submit "Update School class" %>
  </p>
  <% end %>