<h1>School Class Form</h1>

<%=form_for(@schoolclass) do |f| %>

  <%=f.label :title %>
  <%=f.text_field :title, :value => @schoolclass.title %><br>

  <%=f.label :room_number%>
  <%=f.text_field :room_number, :value => @schoolclass.room_number %> <br>

  <%=f.submit "Update School class" %>

  <%end%>
