<h1>Update School Class Information</h1>

<%= form_for @school_class do |f| %>
    <%= f.label 'Title:' %>
    <%= f.text_field :title %>
    <br><br>
    <%= f.label 'Room Number:' %>
    <%= f.text_field :room_number %>
    <br><br>
    <%= f.submit "Update School class" %>
<% end %>
