<h1>School Class Form -- <%= @school_class.title %> </h1>
<%= form_for(@school_class) do | f | %>
  <%= f.label :title, "School name" %>
  <%= f.text_field :title %> <br/>

  <%= f.label :room_number, "Room Number" %>
  <%= f.number_field :room_number %>

  <%= f.submit  "Update School class" %>
<% end %>
