<h1>School Class Form</h1>
<p>Find me in app/views/school_classes/new.html.erb</p>

<%= form_tag school_classes_path do %>
  <%= label_tag 'school_class[title]', 'Title ' %>
  <%= text_field_tag 'school_class[title]' %>

  <%= label_tag 'school_class[room_number]', 'Room Number: ' %>
  <%= text_field_tag 'school_class[room_number]' %>

  <%= submit_tag 'Create School class' %>
<% end %>
