<h1>New School Class Form</h1>

<%= form_for @school_class do |f| %>
	<%= f.text_field :title %>
	<%= f.number_field :room_number %>
	<%= f.submit "Create School class" %>
<% end %>

<%= link_to 'Back', school_classes_path %>
