<h1>School Class Form</h1><br>
<%= form_for(@school_class) do |f| %>
  <p>
   <%= f.label :title %><br>
   <%= f.text_field :title %>
  </p>
  <p>
   <%= f.label :room_number %><br>
   <%= f.text_field :room_number %>
  </p>
  <p>
   <%= f.submit %>
  </p>
  <% end %>