9 lines (8 sloc)  211 Bytes
<h2>School Class Form</h2>

<%= form_for(@school_class) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :room_number %>
  <%= f.text_field :room_number %>
  <%= f.submit %>
<% end %>
