<h1>School Class Form</h1><br>

<%= form_for(@school_class) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :room_number %>
  <%= f.number_field :room_number %>

  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= f.submit %>
<% end %>
