<h1>School Class Form</h1>
<h2>Create School class</h2>
<%= form_for :school_class, url: school_classes_path do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br>
  <%= f.label :room_number %>
  <%= f.text_field :room_number %><br>
  <%=f.submit("Create School class")%>

<% end %>
