<h3>School Class Form</h3>

<%= form_for(@school_class) do |f| %>
  <%= f.label :title %>:
  <%= f.text_field :title %><br><br>

  <%= f.label :room_number %>:
  <%= f.text_area :room_number %><br><br>

  <%= f.submit %>
<% end %>
