<label> School Class Form </label>

<%= form_tag("/school_classes") do %> <br>
  <%= label_tag('school_class[title]', "School Title:") %>
  <%= text_field_tag('school_class[title]') %> <br>
  <br>
  <%= label_tag('school_class[room_number]', "Room Number:") %>
  <%= text_field_tag('school_class[room_number]') %> <br>
  <br>
  <%= submit_tag "Create School class" %>
<% end %>
