<h1>SchoolClasses#new</h1>
<p>Find me in app/views/school_classes/new.html.erb</p>

<%= form_tag school_classes_path do %>
  <%= label_tag 'school_classes[title]', 'Title ' %>
  <%= text_field_tag 'school_classes[title]' %>

  <%= label_tag 'school_classes[room_number]', 'Room Number: ' %>
  <%= text_field_tag 'school_classes[room_number]' %>

  <%= submit_tag 'Create Class' %>
<% end %>
