<h3>School Class Form</h3>

<%= form_for(@school_class) do |school_class| %>
  <%= school_class.label :title %>
  <%= school_class.text_field :title %><br>

  <%= school_class.label :room_number %>
  <%= school_class.text_field :room_number %><br>

  <%= school_class.submit "Create School class" %>
<% end %>
