
<h3>School Class Form</h3>

<%= form_for(@school_class) do |f| %>
  <%= label_tag "Class Title:" %>
  <br>
  <%= f.text_field :title %>
  <br>
  
  <%= label_tag "Room Number:" %>
  <br>
  <%= f.text_field :room_number %> 
  <br>

  <%= f.submit %>
<% end %>