<h3>School Class Form</h3>

<%= form_for @school_class do |c| %>
  <%= c.label :title %><br>
  <%= c.text_field :title %><br>
  <%= c.label :room_number %><br>
  <%= c.text_field :room_number %><br>
  <%= c.submit "Create School class" %>
<% end %>
