<h1>New Class</h1>
<%= form_for(SchollClass.new) do |f| %>
		<%= f.label :title %><br>
    <%= f.text_field :title %><br>
    <%= f.label :room_number %>
    <%= f.number_field :room_number %><br>
  	<%= f.submit %>
<% end %>
