<h1>School Class Form</h1>
<%= form_for(@school_class , remote: true) do |f| %>
<%= label_tag :title, "Title" %><br>
<%= f.text_field :title %><br>
<%= label_tag :room_number, "Room Number" %><br>
<%= f.number_field :room_number %><br>
<%= f.submit %>
<% end %>