<h1>School Class Form</h1>
<!-- <p>Find me in app/views/students/new.html.erb</p> -->

<%= form_for(@school_class) do |f| %>

  <%= label_tag 'Class Title' %><br>
  <%= f.text_area :title %><br>

  <%= label_tag 'Room Number' %><br>
  <%= f.text_area :room_number %><br>

  <%= f.submit %>
<% end %>
