<h1>School Class Form</h1>

<%= form_for(@class) do |c| %>
  <%= c.label :itle %><br>
  <%= c.text_field :title %><br>

  <%= c.label :room_number %><br>
  <%= c.number_field :room_number %><br>

  <%= c.submit %>
<% end %>