<h1>School Class Form </h1>
<%= form_for(@school_class, :method => :post) do | f | %>
  <%= f.label :title, "School name" %>
  <%= f.text_field :title %> <br/>

  <%= f.label :room_number, "Room Number" %>
  <%= f.number_field :room_number %>

  <%= f.submit  "Create School class" %>
<% end %>
