<p id="notice"><%= notice %></p>

<%= @school_class.title %> at
<%= @school_class.room_number %>

<%= link_to 'Edit', edit_school_class_path(@school_class) %> |
<%= link_to 'Back', school_classes_path %>
