<h1><%= @school_class.title %></h1>

<%= form_for @school_class do |c| %>
  <%= c.label :school_class_title %><br>
  <%= c.text_field :title %><br>
  <%= c.label :school_class_room_number %><br>
  <%= c.text_field :room_number %><br>
<% end %>
