<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @school_class.title %>
</p>

<p>
  <strong>Room number:</strong>
  <%= @school_class.room_number %>
</p>

<%= link_to 'Edit', edit_school_class_path(@school_class) %> |
<%= link_to 'Back', school_classes_path %>
