<!DOCTYPE html>
<html>
<head>
  <title>Arlab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p>This confirms that the layout is loading...</p>

<%= yield %>

<% unless params.inspect == nil %>
  <%= params.inspect %>
<% end %>

</body>
</html>
